@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Web.Pages.Account
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@using Volo.Abp.Account.Public.Web.Pages.Account;
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<AccountResource> L
@model ManageModel
@{
    Layout = ThemeManager.CurrentTheme.GetApplicationLayout();
}
<style>
    .nav-item a{
        --bs-nav-pills-link-active-bg: #80f6ba !important;
    }

    .navbar {
        display: none !important;
    }
</style>
@section scripts {
    <abp-script-bundle name="@typeof(ManageModel).FullName"/>
    <script>
        $(function(){
            var elements = $('.form-check');
            var radioButton = document.getElementById('Radio_UploadFile');
            if (radioButton) {
                radioButton.checked = true;
            }
            $('.form-check').hide();
            $('.image-process-section').hide();
            $('#CursorInfo').hide();
            $('#Picture').on('input', function () {
                setTimeout(function () {
                    $('.cropper-container').hide();
                    $('.image-process-section').hide();
                }, 500); // 3000 milliseconds = 3 seconds
            });

        })
    </script>
}

<div style="text-align: center;">
    <a href="/" style="text-align: center;">
        <img style="height: 100px; cursor: pointer;" class="img-fluid" src="~/images/telehealth.png" />
    </a>
</div>
@if (!Model.ReturnUrl.IsNullOrWhiteSpace())
{
    <abp-row class="mb-2">
        <abp-column>
            <a class="btn btn-primary" href="@Model.ReturnUrl">
                <i class="fa fa-chevron-left me-2"></i>@L["ReturnToApplication"]
            </a>
        </abp-column>
    </abp-row>
}

<div id="ProfileManagementWrapper">
    <abp-card>
        <abp-card-body>
            <abp-tabs tab-style="PillVertical" vertical-header-size="_3">
                @foreach (var group in Model.ProfileManagementPageCreationContext.Groups)
                {
                    <abp-tab title="@group.DisplayName">
                        <h2>@group.DisplayName</h2>
                        <hr class="my-4" />
                        @await Component.InvokeAsync(group.ComponentType, new
                        {
                            parameter = group.Parameter
                        })
                    </abp-tab>
                }
            </abp-tabs>
        </abp-card-body>
    </abp-card>
</div>